<h1>Exercise 1</h1>

<h3>How to break ERB</h3>



<p>
  Solution: Escape underscore variables with double percent symbols.
  Example: <code><%%= variable %></code>. This way, Ruby doesn't expect
  a Ruby variable... and Underscore + Ruby can coexist.
</p>
<script type="text/javascript">
  $(document).ready(function() {



  });
</script>

<script type="text/template" id="tpl">
  The quick brown <%%= animal %> jumped over the <%%= adjective %> dog.
</script>
